In [68]:
import duckdb
import numpy as np
import pandas as pd
import pyspark
from pyspark.shell import spark
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import ArrayType, FloatType, DecimalType, StringType, IntegerType
from pyspark.sql.functions import size
from pyspark.storagelevel import StorageLevel
from pyspark import SparkContext
from pyspark.sql.functions import col,when
from pyspark.sql import SparkSession
from pyspark.pandas.spark import functions as SF

 - store csvs in duckdb (one or more tables?)
 - convert to spark dataframes
 - preprocess
 - feature adding
 - feed to model

#### Connect to database and get all CSVs in one table

In [74]:
con = duckdb.connect(database=':memory:')

In [298]:
#con.execute('''DROP TABLE train''')

In [299]:
con.execute('''
CREATE TABLE train(num INT, tconst VARCHAR, primaryTitle VARCHAR, originalTitle VARCHAR, startYear varchar,
endYear varchar, runtimeMinutes VARCHAR, numVotes FLOAT, label BOOL);
''')

In [307]:
#With copy the CSVs are appended to one table
#This was run 8 times
con.execute('''
COPY train FROM 'train-8.csv' (AUTO_DETECT TRUE)
''')

In [308]:
con.execute(''' SELECT * FROM train''').fetch_df()

,num,tconst,primarytitle,originaltitle,startyear,endyear,runtimeminutes,numvotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
...,...,...,...,...,...,...,...,...,...
7954,9966,tt9625664,Trauma Center,NaN,2019,\N,87,12951.0,False
7955,9981,tt9741310,Slaxx,Slaxx,2020,\N,77,2464.0,False
7956,9982,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False
7957,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True
7958,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True

In [310]:
# Re-check this! Changed the null values because I had some problems converting it to spark Df
con.execute(''' UPDATE train
SET originalTitle = 'none'
WHERE originalTitle IS NULL
''').fetch_df()

   Count
0   3988

#### From DB to Spark Df and begin preprocessing

In [110]:
from pyspark.sql import SQLContext
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [268]:
# This gives an error, not sure why
# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)
# train_df = sqlContext.sql(con.execute(''' SELECT * FROM train''').fetch_df())

In [311]:
train_df=spark.createDataFrame(con.execute("SELECT * FROM train").fetch_df())

In [312]:
train_df.show()

+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|num|   tconst|        primarytitle|       originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|  4|tt0010600|            The Doll|           Die Puppe|     1919|     \N|            66|  1898.0| true|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|     \N|           145|  5376.0| true|
|  9|tt0012494|             Déstiny|        Der müde Tod|     1921|     \N|            97|  5842.0| true|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|     \N|            59|  9652.0| true|
| 38|tt0016220|The Phantom of th...|The Phantom of th...|     1925|     \N|            93| 17887.0| true|
| 42|tt0016630|     Báttling Bútlér|     Battling Butler|     1926|     \N|            77|  3285.0| true|
| 81|tt0021015|Juno and the Paycock|                none|     1929|     \N|            85|  2275.0|false|
|118|tt0023973|Thé Éáglé ánd thé...|                none|     1933|     \N|            73|     NaN| true|
|119|tt0023986| Émplớyéés' Éntráncé|                none|     1933|     \N|            75|     NaN| true|
|123|tt0024184|   The Invisible Man|   The Invisible Man|     1933|     \N|            71| 33562.0| true|
|125|tt0024216|           King Kong|           King Kong|     1933|     \N|           100| 83177.0| true|
|135|tt0025028|               Dames|                none|     1934|     \N|            91|  2038.0| true|
|163|tt0027478|The Crime of Mons...|Le crime de Monsi...|     1936|     \N|            80|     NaN| true|
|180|tt0028333|          Swing Timé|                none|     1936|     \N|           103|     NaN| true|
|215|tt0030341|   The Lady Vanishes|   The Lady Vanishes|     1938|     \N|            96| 50707.0| true|
|222|tt0031143|The Cat and the C...|                none|     1939|     \N|            72|  2967.0| true|
|231|tt0031385|  Goodbye, Mr. Chips|                none|     1939|     \N|           114| 10311.0| true|
|239|tt0031647|            Midnight|                none|     1939|     \N|            94|  4904.0| true|
|242|tt0031762|Only Angels Have ...|                none|     1939|     \N|           121| 13595.0| true|
|253|tt0032156|The Story of the ...|  Zangiku monogatari|     1939|     \N|           143|  3600.0| true|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

In [185]:
train_df.printSchema()

root
 |-- num: long (nullable = true)
 |-- tconst: string (nullable = true)
 |-- primarytitle: string (nullable = true)
 |-- originaltitle: string (nullable = true)
 |-- startyear: string (nullable = true)
 |-- endyear: string (nullable = true)
 |-- runtimeminutes: string (nullable = true)
 |-- numvotes: double (nullable = true)
 |-- label: boolean (nullable = true)

Check for duplicates (this is tricky)

In [186]:
train_df = train_df.dropDuplicates(['tconst'])
train_df.show()

+---+---------+--------------------+-----------------+---------+-------+--------------+--------+-----+
|num|   tconst|        primarytitle|    originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+---+---------+--------------------+-----------------+---------+-------+--------------+--------+-----+
|  2|tt0009369|              Mickey|           Mickey|     1918|     \N|            93|  1119.0|false|
|  4|tt0010600|            The Doll|        Die Puppe|     1919|     \N|            66|  1898.0| true|
|  5|tt0011439|   The Mark of Zorro|The Mark of Zorro|     1920|     \N|            79|  2439.0| true|
|  6|tt0011607|  The Parson's Widow|       Prästänkan|     1920|     \N|            94|  1264.0| true|
|  7|tt0011841|       Way Down East|    Way Down East|     1920|     \N|           145|  5376.0| true|
|  8|tt0012349|             The Kid|             none|     1921|     \N|            68|121452.0| true|
|  9|tt0012494|             Déstiny|     Der müde Tod|     1921|     \N|            97|  5842.0| true|
| 10|tt0012532|Ớrpháns ớf thé Stớrm|             none|     1921|     \N|           150|     NaN| true|
| 11|tt0013257|               Häxan|            Häxan|     1922|     \N|            91| 13679.0| true|
| 12|tt0013556|          Robin Hood|             none|     1922|     \N|           143|  2178.0| true|
| 13|tt0013933|  The Faithful Heart|     Coeur fidèle|     1923|     \N|            87|  1252.0| true|
| 14|tt0014109|The Saga of Gösta...|             none|     1924|     \N|           183|  1231.0| true|
| 15|tt0014142|The Hunchback of ...|             none|       \N|   1923|           133|  5288.0| true|
| 16|tt0014341|     Our Hospitality|  Our Hospitality|     1923|     \N|            65| 10911.0| true|
| 17|tt0014358|         The Pilgrim|             none|     1923|     \N|            47|  4891.0| true|
| 19|tt0014538|          Three Ages|             none|     1923|     \N|            63|  4312.0| true|
| 20|tt0014611|          Why Worry?|             none|     1923|     \N|            63|  1739.0| true|
| 21|tt0014945|            Girl Shy|         Girl Shy|     1924|     \N|            87|  3327.0| true|
| 24|tt0015064|      The Last Laugh|  Der letzte Mann|     1924|     \N|            77|     NaN| true|
| 25|tt0015163|       The Navigator|    The Navigator|     1924|     \N|            59|  9652.0| true|
+---+---------+--------------------+-----------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

In [187]:
train_df.count()

7959

It seems like we don't have duplicate, but we search closer

In [203]:
train_df = train_df.dropDuplicates(['primarytitle'])
train_df.show()

22/03/21 13:06:48 WARN Executor: Issue communicating with driver in heartbeater]
java.lang.NullPointerException
	at org.apache.spark.storage.memory.MemoryStore.getSize(MemoryStore.scala:133)
	at org.apache.spark.storage.BlockManager.org$apache$spark$storage$BlockManager$$getCurrentBlockStatus(BlockManager.scala:873)
	at org.apache.spark.storage.BlockManager.$anonfun$reportAllBlocks$3(BlockManager.scala:608)
	at org.apache.spark.storage.BlockManager.$anonfun$reportAllBlocks$3$adapted(BlockManager.scala:607)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.storage.BlockManager.reportAllBlocks(BlockManager.scala:607)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:627)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1009)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2019)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

+----+----------+--------------------+--------------------+---------+-------+--------------+--------+-----+
| num|    tconst|        primarytitle|       originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+----+----------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|5705|tt10534500|               #Home|                none|       \N|   2021|           158| 10591.0| true|
|2203| tt0090556|      'night, Mớthér|      'night, Mother|     1986|     \N|            96|  2244.0| true|
|4397| tt0349047|(T)Raumschiff Sur...|                none|     2004|     \N|            87| 15303.0|false|
|7602| tt2395385|                  +1|                  +1|     2013|     \N|            96|  8065.0|false|
|5061| tt0473567|           ...Yahaan|           ...Yahaan|     2005|     \N|           142|     NaN| true|
|4583| tt0381838|              ...ing|              ...ing|     2003|     \N|           104|  2187.0| true|
|7633| tt2416424|00 Schneider - Im...|00 Schneider - Im...|     2013|     \N|            94|  1216.0|false|
|2880| tt0109000|00 Schnéidér - Já...|                none|     1994|     \N|            90|  2583.0| true|
|7693| tt2518788|                   1|                   1|     2013|     \N|           112|  4089.0| true|
|8660| tt4685428|              1 Buck|                none|     2017|     \N|            90|     NaN|false|
|8724| tt4875960|     1 Interrogation|     1 Interrogation|     2020|     \N|            95|  4757.0|false|
|5185| tt0494724|    1 Litre of Tears|Ichi ritoru no na...|     2005|     \N|            98|     NaN| true|
|8449| tt4126694|             1 Night|                none|     2016|     \N|            80|  1986.0|false|
|6032| tt1179933| 10 Clớvérfiéld Láné|                none|     2016|     \N|           103|309018.0| true|
|7205| tt1993391|10 Rules for Slee...|                none|     2013|     \N|            94|  2902.0|false|
|3507| tt0147800|10 Things I Hate ...|10 Things I Hate ...|     1999|     \N|            97|319002.0| true|
|8825| tt5128266|    10 Éndráthúkúllá|    10 Endrathukulla|     2015|     \N|           144|  1321.0|false|
|4917| tt0443649|           10,000 BC|           10,000 BC|     2008|     \N|           109|128668.0|false|
|8136| tt3488056|     10.0 Earthquake|                none|     2014|     \N|            88|  2156.0|false|
|5806|tt10949778|    100 Dáys tớ Livé|    100 Days to Live|     2019|     \N|            90|  4155.0|false|
+----+----------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

In [204]:
train_df.count()

7846

##### Drop rows that have null values in runtimeminutes/numvotes

In [313]:
train_df = train_df.dropna(subset=["runtimeminutes","numvotes"])
train_df.show()

+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|num|   tconst|        primarytitle|       originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|  4|tt0010600|            The Doll|           Die Puppe|     1919|     \N|            66|  1898.0| true|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|     \N|           145|  5376.0| true|
|  9|tt0012494|             Déstiny|        Der müde Tod|     1921|     \N|            97|  5842.0| true|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|     \N|            59|  9652.0| true|
| 38|tt0016220|The Phantom of th...|The Phantom of th...|     1925|     \N|            93| 17887.0| true|
| 42|tt0016630|     Báttling Bútlér|     Battling Butler|     1926|     \N|            77|  3285.0| true|
| 81|tt0021015|Juno and the Paycock|                none|     1929|     \N|            85|  2275.0|false|
|123|tt0024184|   The Invisible Man|   The Invisible Man|     1933|     \N|            71| 33562.0| true|
|125|tt0024216|           King Kong|           King Kong|     1933|     \N|           100| 83177.0| true|
|135|tt0025028|               Dames|                none|     1934|     \N|            91|  2038.0| true|
|215|tt0030341|   The Lady Vanishes|   The Lady Vanishes|     1938|     \N|            96| 50707.0| true|
|222|tt0031143|The Cat and the C...|                none|     1939|     \N|            72|  2967.0| true|
|231|tt0031385|  Goodbye, Mr. Chips|                none|     1939|     \N|           114| 10311.0| true|
|239|tt0031647|            Midnight|                none|     1939|     \N|            94|  4904.0| true|
|242|tt0031762|Only Angels Have ...|                none|     1939|     \N|           121| 13595.0| true|
|253|tt0032156|The Story of the ...|  Zangiku monogatari|     1939|     \N|           143|  3600.0| true|
|265|tt0032520|  The Ghost Breakers|                none|     1940|     \N|            85|  3378.0| true|
|272|tt0032904|The Philadelphia ...|                none|       \N|   1940|           112| 66874.0| true|
|276|tt0033022|         Sáps át Séá|         Saps at Sea|     1940|     \N|            56|  2766.0| true|
|279|tt0033152| The Thief of Bagdad|                none|       \N|   1940|           106| 12840.0| true|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

##### Add YearSinceRealease feature

In [283]:
from pyspark.sql.functions import when

Replace \N with 2022 in endyear

In [314]:
train_df = train_df.withColumn("endyear", when(train_df.endyear == "\\N","2022")
                                 .otherwise(train_df.endyear))

Swap start and endyear where necesseary

In [315]:
train_df = train_df.withColumn("startyear", when(train_df.startyear == "\\N", train_df.endyear)
                              .otherwise(train_df.startyear))

In [316]:
train_df = train_df.withColumn("endyear", when(train_df.endyear == train_df.startyear, "2022")
                              .otherwise(train_df.endyear))

Check if it was done correctly

In [317]:
test1 = train_df.filter(train_df.primarytitle == "The Philadelphia Story")
test1.show()

+---+---------+--------------------+-------------+---------+-------+--------------+--------+-----+
|num|   tconst|        primarytitle|originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+---+---------+--------------------+-------------+---------+-------+--------------+--------+-----+
|272|tt0032904|The Philadelphia ...|         none|     1940|   2022|           112| 66874.0| true|
+---+---------+--------------------+-------------+---------+-------+--------------+--------+-----+

In [174]:
test2 = train_df.filter(train_df.primarytitle == "The Thief of Bagdad")
test2.show()

+---+---------+-------------------+-------------+---------+-------+--------------+--------+-----+
|num|   tconst|       primarytitle|originaltitle|startyear|endyear|runtimeminutes|numvotes|label|
+---+---------+-------------------+-------------+---------+-------+--------------+--------+-----+
|279|tt0033152|The Thief of Bagdad|         none|     1940|   2022|           106| 12840.0| true|
| 31|tt0015400|The Thief of Bagdad|         none|     1924|   2022|           155|  6001.0| true|
+---+---------+-------------------+-------------+---------+-------+--------------+--------+-----+

#### It works!

New feature: YearSinceRelease

In [288]:
train_df = train_df.withColumn('YearSinceRealease', ( train_df['endyear'] - train_df['startyear'] ))

In [289]:
train_df.show()

+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+-----------------+
|num|   tconst|        primarytitle|       originaltitle|startyear|endyear|runtimeminutes|numvotes|label|YearSinceRealease|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+-----------------+
|  4|tt0010600|            The Doll|           Die Puppe|     1919|   2022|            66|  1898.0| true|            103.0|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|   2022|           145|  5376.0| true|            102.0|
|  9|tt0012494|             Déstiny|        Der müde Tod|     1921|   2022|            97|  5842.0| true|            101.0|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|   2022|            59|  9652.0| true|             98.0|
| 38|tt0016220|The Phantom of th...|The Phantom of th...|     1925|   2022|            93| 17887.0| true|             97.0|
| 42|tt0016630|     Báttling Bútlér|     Battling Butler|     1926|   2022|            77|  3285.0| true|             96.0|
| 81|tt0021015|Juno and the Paycock|                none|     1929|   2022|            85|  2275.0|false|             93.0|
|123|tt0024184|   The Invisible Man|   The Invisible Man|     1933|   2022|            71| 33562.0| true|             89.0|
|125|tt0024216|           King Kong|           King Kong|     1933|   2022|           100| 83177.0| true|             89.0|
|135|tt0025028|               Dames|                none|     1934|   2022|            91|  2038.0| true|             88.0|
|215|tt0030341|   The Lady Vanishes|   The Lady Vanishes|     1938|   2022|            96| 50707.0| true|             84.0|
|222|tt0031143|The Cat and the C...|                none|     1939|   2022|            72|  2967.0| true|             83.0|
|231|tt0031385|  Goodbye, Mr. Chips|                none|     1939|   2022|           114| 10311.0| true|             83.0|
|239|tt0031647|            Midnight|                none|     1939|   2022|            94|  4904.0| true|             83.0|
|242|tt0031762|Only Angels Have ...|                none|     1939|   2022|           121| 13595.0| true|             83.0|
|253|tt0032156|The Story of the ...|  Zangiku monogatari|     1939|   2022|           143|  3600.0| true|             83.0|
|265|tt0032520|  The Ghost Breakers|                none|     1940|   2022|            85|  3378.0| true|             82.0|
|272|tt0032904|The Philadelphia ...|                none|     1940|   2022|           112| 66874.0| true|             82.0|
|276|tt0033022|         Sáps át Séá|         Saps at Sea|     1940|   2022|            56|  2766.0| true|             82.0|
|279|tt0033152| The Thief of Bagdad|                none|     1940|   2022|           106| 12840.0| true|             82.0|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+-----------------+
only showing top 20 rows

Convert it to pandas dataframe in order to feed it to the model

In [290]:
pandas_train = train_df.toPandas()

In [291]:
pandas_train

,num,tconst,primarytitle,originaltitle,startyear,endyear,runtimeminutes,numvotes,label,YearSinceRealease
0,4,tt0010600,The Doll,Die Puppe,1919,2022,66,1898.0,True,103.0
1,7,tt0011841,Way Down East,Way Down East,1920,2022,145,5376.0,True,102.0
2,9,tt0012494,Déstiny,Der müde Tod,1921,2022,97,5842.0,True,101.0
3,25,tt0015163,The Navigator,The Navigator,1924,2022,59,9652.0,True,98.0
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,2022,93,17887.0,True,97.0
...,...,...,...,...,...,...,...,...,...,...
7164,9966,tt9625664,Trauma Center,none,2019,2022,87,12951.0,False,3.0
7165,9981,tt9741310,Slaxx,Slaxx,2020,2022,77,2464.0,False,2.0
7166,9982,tt9742392,Kindred,Kindred,2020,2022,101,1719.0,False,2.0
7167,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,none,2020,2022,111,4144.0,True,2.0
7168,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,2022,103,3242.0,True,2.0

#### Additional data

In [196]:
con.execute('''
CREATE TABLE additional_data AS SELECT * FROM 'movies_info.csv';
''')

In [272]:
con.execute('''
SELECT * FROM additional_data''').fetch_df()

,imdb_id,adult,belongs_to_collection,budget,id,original_language,original_title,overview,popularity,production_companies,...,runtime,tagline,title,video,vote_average,vote_count,genre_list,production_list,production_countr_list,spoken_language_list
0,tt0010600,False,NaN,0.0,48256.0,de,Die Puppe,The misadventures of an effete young man who m...,4.861,"[{'id': 12950, 'logo_path': None, 'name': 'Pro...",...,66.0,NaN,The Doll,False,7.3,60.0,"['Comedy', 'Fantasy']",['Projektions-AG Union (PAGU)'],['DE'],[]
1,tt0011841,False,NaN,0.0,31509.0,en,Way Down East,A naive country girl is tricked into a sham ma...,7.617,"[{'id': 4759, 'logo_path': None, 'name': 'D.W....",...,145.0,A simple story for plain people.,Way Down East,False,7.0,70.0,"['Drama', 'Action', 'Romance']","['D.W. Griffith Productions', 'United Artists']",['US'],[]
2,tt0012494,False,NaN,0.0,29267.0,de,Der müde Tod,As a young couple stops and rests in a small v...,7.593,"[{'id': 6762, 'logo_path': None, 'name': 'Decl...",...,105.0,Love is Stronger Than Death,Destiny,False,7.5,107.0,"['Drama', 'Fantasy', 'Thriller']",['Decla-Bioscop'],['DE'],['de']
3,tt0015163,False,NaN,0.0,32318.0,en,The Navigator,The wealthy and impulsive Rollo Treadway decid...,7.881,"[{'id': 12190, 'logo_path': None, 'name': 'Bus...",...,65.0,"Hurry! Hurry! Throw out the ""laff"" line!",The Navigator,False,7.3,152.0,"['Action', 'Comedy', 'Romance']",['Buster Keaton Productions'],['US'],[]
4,tt0016220,False,NaN,0.0,964.0,en,The Phantom of the Opera,"A grotesquely disfigured composer known as ""Th...",12.830,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",...,101.0,The greatest horror film of modern cinema!,The Phantom of the Opera,False,7.2,243.0,"['Drama', 'Horror']",['Universal Pictures'],['US'],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7919,tt9625664,False,NaN,0.0,641790.0,en,Trauma Center,Lt. Wakes is a vengeful police detective deter...,21.290,"[{'id': 121204, 'logo_path': None, 'name': 'Bo...",...,87.0,The enemy is closer than you think,Trauma Center,False,5.7,310.0,"['Action', 'Thriller']","['BondIt Media Capital', 'Buffalo 8', 'Pimient...",['US'],"['en', 'es']"
7920,tt9741310,False,NaN,0.0,605133.0,en,Slaxx,When a possessed pair of jeans begins to kill ...,7.712,"[{'id': 62055, 'logo_path': None, 'name': 'EMA...",...,77.0,An ass to die for.,Slaxx,False,5.8,98.0,"['Comedy', 'Horror']","['EMAfilms', 'Entertainment Squad']",['CA'],"['en', 'hi']"
7921,tt9742392,False,NaN,0.0,717672.0,en,Kindred,When her boyfriend Ben suddenly dies in an acc...,5.826,"[{'id': 137874, 'logo_path': None, 'name': 'Re...",...,101.0,Family is everything.,Kindred,False,5.9,11.0,"['Drama', 'Mystery', 'Horror', 'Thriller']","['Reiver Pictures', 'IFC Midnight', 'Head Gear...",['GB'],['en']
7922,tt9850386,False,NaN,0.0,730009.0,en,The Bee Gees: How Can You Mend a Broken Heart,The story of the triumphs and hurdles of broth...,9.072,"[{'id': 862, 'logo_path': '/udTjbqPmcTbfrihMuL...",...,111.0,NaN,The Bee Gees: How Can You Mend a Broken Heart,False,8.0,37.0,"['Music', 'Documentary']","['The Kennedy/Marshall Company', 'White Horse ...",['US'],['en']
7923,tt9911196,False,NaN,0.0,591915.0,nl,De Beentjes van Sint-Hildegard,Jan has been married to Gedda for 35 years. Ge...,3.598,"[{'id': 60652, 'logo_path': '/pNlPbnwBkKgZsc2y...",...,103.0,NaN,The Marriage Escape,False,8.0,23.0,"['Comedy', 'Drama']","['Johan Nijenhuis & Co', 'Omroep MAX']",['NL'],['nl']

Has issues with some features of the table.

LISTS cannot be stored as a single value in relational databases!!!
Find solution for this!

In [192]:
moredata_df=spark.createDataFrame(con.execute("SELECT * FROM additional_data").fetchdf())

TypeError: field tagline: Can not merge type <class 'pyspark.sql.types.DoubleType'> and <class 'pyspark.sql.types.StringType'>

In [ ]:
output = df1.join(df2,['EMP_CODE'],how='inner').distinct()

#### ML Model

In [292]:
pandas_train

,num,tconst,primarytitle,originaltitle,startyear,endyear,runtimeminutes,numvotes,label,YearSinceRealease
0,4,tt0010600,The Doll,Die Puppe,1919,2022,66,1898.0,True,103.0
1,7,tt0011841,Way Down East,Way Down East,1920,2022,145,5376.0,True,102.0
2,9,tt0012494,Déstiny,Der müde Tod,1921,2022,97,5842.0,True,101.0
3,25,tt0015163,The Navigator,The Navigator,1924,2022,59,9652.0,True,98.0
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,2022,93,17887.0,True,97.0
...,...,...,...,...,...,...,...,...,...,...
7164,9966,tt9625664,Trauma Center,none,2019,2022,87,12951.0,False,3.0
7165,9981,tt9741310,Slaxx,Slaxx,2020,2022,77,2464.0,False,2.0
7166,9982,tt9742392,Kindred,Kindred,2020,2022,101,1719.0,False,2.0
7167,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,none,2020,2022,111,4144.0,True,2.0
7168,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,2022,103,3242.0,True,2.0

In [213]:
pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-manylinux2014_aarch64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.4 MB/s
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.9/site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: wheel in /opt/conda/lib/python3.9/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /opt/conda/lib/python3.9/site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [214]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [293]:
# To define the input and output feature
x = pandas_train.drop(['num','tconst','primarytitle','originaltitle', 'endyear',],axis=1)
x['runtimeminutes'] = x['runtimeminutes'].astype(float)
y = pandas_train['label']
# train and test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=42)

ValueError: could not convert string to float: '\\N'

In [217]:
model = lgb.LGBMClassifier(learning_rate=0.09,max_depth=-5,random_state=42)
model.fit(x_train,y_train,eval_set=[(x_test,y_test),(x_train,y_train)],
          verbose=20,eval_metric='logloss')

/opt/conda/lib/python3.9/site-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: tconst, primarytitle, startyear, runtimeminutes

In [ ]:
print('Training accuracy {:.4f}'.format(model.score(x_train,y_train)))
print('Testing accuracy {:.4f}'.format(model.score(x_test,y_test)))